:root {
  --text-color: #333;
  --border-radius: 8px;
}

.projects-section {
  margin-bottom: 2rem;
  padding: 0 1em;
}

.projects-section .heading {
  margin: 2rem 0;
  color: var(--primary-color);
  font-size: 1.3rem;
  font-family: "Poetsen One", sans-serif;
}


.project-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background: white;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  overflow: hidden;
}

.project-image {
  flex: 1 1 300px;
}

.project-image img {
  width: 100%;
  height: 100%;
  padding: 1em;
  object-fit: cover;
  border-radius: 21px;
}

.project-content {
  flex: 2 1 400px;
  padding: 1.5rem;
}

.project-title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.project-description {
  margin-bottom: 1rem;
  color: var(--text-color);
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
  list-style: none;
  padding: 0;
}

.project-tech li {
  color: var(--text-color);
  background-color: #91919120;
  padding: 0.4rem 0.8rem;
  border-radius: 50px;
  font-size: 0.8rem;
}

.btn-primary:hover,
.btn-outline:hover {
  transform: scale(0.9);
}

@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
  }

  .project-image {
  flex: 1 1 100%;
}

}


.project-filters {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
  }
  .filter-btn {
    background: rgb(49, 49, 49);
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  .filter-btn.active,
  .filter-btn:hover {
    background: var(--primary-color);
    color: white;
  }
  .project-card {
    display: none; 
  }
  .project-card.show {
    display: flex;
  }