.services-section {
  margin-bottom: 2rem;
  padding: 0 1em;
  overflow-x: hidden;
}

.services-section .heading {
  margin: 2rem 0;
  color: var(--primary-color);
  font-size: 1.3rem;
  font-family: "Poetsen One", sans-serif;
}

.service-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 auto;
  gap: 1em;
  margin-top: 2rem;
  /* border: 1px solid black; */
  padding: 1em;
  border-radius: 8px;
  background-color: rgb(241, 241, 241);
}

.service-container .service {
  width: 50%;
}

.service-illustration img {
  width: 100%;
  max-width: 300px;
}

.service .icon {
  color: var(--primary-color);
  margin-right: 0.5rem;
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.service h4:hover .icon {
  transform: scale(1.2) rotate(10deg);
  opacity: 0.7;
}


.service-illustration img {
  width: 100%;
  max-width: 300px;
}

@media(max-width: 768px) {
  .service-container {
    gap: 2em;
    flex-direction: column;
  }
  .service-container:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .service-container .service {
    width: 100%;
  }

}